snippet "loremsw?i?f?t?" "Generate some sample Swift" r
class Point {
	var x = 0.0 // sets the default value of x to 0
	var y = 0.0 // sets the default value of x to 0

}

// this creates a new Point instance using the default initializer
var point = Point()

point.x = 100 // sets the x property to 100
point.y = 200 // sets the y propery to 200
endsnippet

snippet date "Insert the current date" i
`!v strftime("%Y-%m-%d")`
endsnippet

snippet time "Insert the current time"  i
`!v strftime("%H:%M")`${1:`!v strftime(":%S")`}
endsnippet
