snippet doc "Create Hologram documentation template"
/*doc
---
title: ${1:Title}
category: ${2:Category}
---
${3:// Text goes here. }

\`\`\`haml_example
${4:-# Haml example goes here.}
\`\`\`
*/
endsnippet
